.welcome-banner {
  width: 100vw; /* Full-width */
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: calc(100vw * 9 / 16); /* Maintain 16:9 aspect ratio */
  object-fit: cover;
}

/* Responsive Adjustments */
@media (max-width: 1024px) { /* Tablets */
  .swiper-slide img {
    height: calc(100vw * 9 / 16);
  }
}

@media (max-width: 768px) { /* Mobile */
  .swiper-slide img {
    height: calc(100vw * 9 / 16); /* Maintain aspect ratio */
  }
}

@media (max-width: 480px) { /* Small screens */
  .swiper-slide img {
    height: calc(100vw * 9 / 16);
  }
}

/* Swiper Pagination */
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #545a3f;
  opacity: 1;
}
