body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 60px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(to right, #DBCFBC, #DBCFBC, #DBCFBC);
  border-bottom: 1px solid #c5bcad;
}

.site-name {
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: lighter;
  color: #2b3e34;
  margin: 10px;
}


@media (max-width: 767px) {
  .site-name {
    font-size: 22px;
  }
}