.news-bulletin {
    width: 100%;
    background: #b0aea1;
    text-align: center;
    padding: 0px 0;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    animation: fadeIn 1s ease-in-out;
    color: #545A3F;
    font-family: 'Times New Roman', Times, serif;
}

/* Animation for smooth transition */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .news-bulletin {
        font-size: 16px;
        padding: 0px;
    }
}

@media (max-width: 480px) {
    .news-bulletin {
        font-size: 14px;
        padding: 0px;
    }
}
