.sticky-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  z-index: 1000;
}

.back-to-top-btn {
  background-color: #2b3e34;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-to-top-btn:hover {
  background-color: #43483a;
  transform: scale(1.1);
}
