html {
    scroll-behavior: smooth;
}

body{
    background:linear-gradient(to right,#DBCFBC ,#DBCFBC);
    margin: 0;
}

.loader{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }